/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* ---------------Checkout--------------------------- */

.is-well {
  padding: 20px !important;
}

.sm-touch-scroll {
  overflow-x: hidden !important;
}

.woocommerce-form-coupon {
  display: block !important;
  padding: 0 !important;
  border: none !important;
}

.woocommerce-form-coupon > p {
  display: none !important;
}

#checkout-login-container .woocommerce-form-login {
  display: block !important;
}

#checkout-login-container .woocommerce-form-login__submit {
  margin-bottom: 20px !important;
}

#checkout-login-container .form-row-first label,
#checkout-login-container .form-row-last label {
  display: none !important;
}

#checkout-login-container .wc-social-login {
  display: block !important;
  margin-top: 30px !important;
  padding-top: 30px !important;
  border-top: 2px solid #ddd !important;
}

#checkout-login-container .button-social-login {
  border-radius: 50px !important;
}

#checkout-login-container .button-social-login.button-social-login-facebook {
  border: 5px solid #3b5998 !important;
}

#checkout-login-container .button-social-login.button-social-login-google {
  border: 5px solid #4285f4 !important;
}

#checkout-login-container .wc-social-login > p {
  font-weight: bolder !important;
}

#checkout-login-container .button-social-login:hover .si {
  background-color: hsla(0, 0%, 100%, 1) !important;
}

#checkout-login-container .wc-social-login .si-google,
#checkout-login-container .wc-social-login .si-facebook {
  border-radius: 40px !important;
  border: 6px solid #fff !important;
}

#checkout-load-curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999 !important;
}

.devnet_fsl-free-shipping {
  margin: 0 !important;
  padding: 1rem 0 !important;
  box-shadow: none !important;
}

#checkout-load-curtain > div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.is-sticky-column {
  background-color: #fff !important;
  border-radius: 40px !important;
  padding: 40px !important;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 0 0 1px rgba(0, 0, 0, 0.05) !important;
}

@media (min-width: 550px) {
  .is-well {
    padding: 40px !important;
  }

  .coupon .input-text {
    width: calc(100% - 20px) !important;
    margin-right: 20px !important;
  }

  #checkout-login-container p.form-row-first,
  #checkout-login-container p.form-row-last {
    float: left;
    width: 35% !important;
  }
  #checkout-login-container .woocommerce-form-login__submit {
    margin-top: 10px !important;
    margin-left: 35px !important;
    margin-bottom: 0px !important;
  }

  #checkout-login-container .woocommerce-form-login__rememberme {
    display: inline !important;
  }

  #checkout-login-container .rememberme {
    display: inline !important;
    float: left !important;
  }

  #checkout-login-container .lost_password {
    float: left !important;
    margin-left: 35px !important;
  }
}

/* ---------------Product--------------------------- */

#product-description-container {
  padding: 10px 35px !important;
}

#product-load-curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999 !important;
}

#product-load-curtain > div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.product-filter-row,
.wc-points-rewards-product-message {
  display: none !important;
}

@media (max-width: 550px) {
  #product-description-container {
    padding: 0 30px !important;
  }

  #product-description-container .product-title {
    padding-top: 10px !important;
  }

  #product-description-container .product-page-price {
    font-size: 1.4rem !important;
  }

  .product-info .variations_form {
    margin-top: 40px !important;
  }

  .product-info .sticky-add-to-cart--active {
    height: 64px !important;
    z-index: 9999 !important;
    background-color: white !important;
  }
}

/* ---------------Shared--------------------------- */

.hc-custom-loader {
  border: 6px solid #f3f3f3 !important;
  border-radius: 50% !important;
  border-top: 6px solid #975868 !important;
  width: 40px !important;
  height: 40px !important;
  -webkit-animation: spin 2s linear infinite !important; /* Safari */
  animation: spin 2s linear infinite !important;
  margin: 0 10px !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
