/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* ---------------Checkout--------------------------- */

.is-well {
  padding: 20px !important;
}

.sm-touch-scroll {
  overflow-x: hidden !important;
}

.woocommerce-form-coupon {
  display: block !important;
  padding: 0 !important;
  border: none !important;
}

.woocommerce-form-coupon > p {
  display: none !important;
}

#checkout-login-container .woocommerce-form-login {
  display: block !important;
}

#checkout-login-container .woocommerce-form-login__submit {
  margin-bottom: 20px !important;
}

#checkout-login-container .form-row-first label,
#checkout-login-container .form-row-last label {
  display: none !important;
}

#checkout-login-container .wc-social-login {
  display: block !important;
  margin-top: 30px !important;
  padding-top: 30px !important;
  border-top: 2px solid #ddd !important;
}

#checkout-login-container .button-social-login {
  border-radius: 50px !important;
}

#checkout-login-container .button-social-login.button-social-login-facebook {
  border: 5px solid #3b5998 !important;
}

#checkout-login-container .button-social-login.button-social-login-google {
  border: 5px solid #4285f4 !important;
}

#checkout-login-container .wc-social-login > p {
  font-weight: bolder !important;
}

#checkout-login-container .button-social-login:hover .si {
  background-color: hsla(0, 0%, 100%, 1) !important;
}

#checkout-login-container .wc-social-login .si-google,
#checkout-login-container .wc-social-login .si-facebook {
  border-radius: 40px !important;
  border: 6px solid #fff !important;
}

#checkout-load-curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999 !important;
}

.devnet_fsl-free-shipping {
  margin: 0 !important;
  padding: 1rem 0 !important;
  box-shadow: none !important;
}

#checkout-load-curtain > div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media (min-width: 550px) {
  .is-well {
    padding: 40px !important;
  }

  .coupon .input-text {
    width: calc(100% - 20px) !important;
    margin-right: 20px !important;
  }

  #checkout-login-container p.form-row-first,
  #checkout-login-container p.form-row-last {
    float: left;
    width: 35% !important;
  }
  #checkout-login-container .woocommerce-form-login__submit {
    margin-top: 6px !important;
    margin-left: 20px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
  }

  #checkout-login-container .woocommerce-form-login__rememberme {
    display: inline !important;
  }

  #checkout-login-container .rememberme {
    display: inline !important;
    float: left !important;
  }

  #checkout-login-container .lost_password {
    float: left !important;
    margin-left: 35px !important;
  }
}

@media (max-width: 550px) {
  #checkout-login-container .button,
  #free-shipping-container-row .coupon .button {
    font-size: 1.2em !important;
  }
}

/* ---------------Product--------------------------- */

#product-description-container {
  padding: 10px 35px !important;
}

#product-load-curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999 !important;
}

#product-load-curtain > div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.product-filter-row,
.wc-points-rewards-product-message {
  display: none !important;
}

@media (max-width: 550px) {
  #product-description-container {
    padding: 0 30px !important;
  }

  #product-description-container .product-title {
    padding-top: 10px !important;
  }

  #product-description-container .product-page-price {
    font-size: 1.4rem !important;
  }

  .product-info .variations_form {
    margin-top: 40px !important;
  }

  .product-info .sticky-add-to-cart--active {
    height: 64px !important;
    z-index: 9999 !important;
    background-color: white !important;
  }

  .product-info .sticky-add-to-cart--active {
    justify-content: start !important;
  }

  .product-info .sticky-add-to-cart--active .quantity {
    margin-right: 0 !important;
  }

  .product-info .sticky-add-to-cart--active .quantity .input-text {
    border: none !important;
    background: #975868 !important;
    color: white !important;
    text-shadow: none !important;
  }

  .product-info .sticky-add-to-cart--active .quantity .button.minus {
    border: none !important;
    background: #975868 !important;
    color: white !important;
    text-shadow: none !important;
  }

  .product-info .sticky-add-to-cart--active .quantity .button.plus {
    border-top: none !important;
    border-bottom: none !important;
    border-right: 1px solid white !important;
    background: #975868 !important;
    color: white !important;
    text-shadow: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .product-info .sticky-add-to-cart--active .quantity .minus,
  .product-info .sticky-add-to-cart--active .quantity .plus {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .product-info .sticky-add-to-cart--active button:not(.icon).single_add_to_cart_button,
  .product-info .sticky-add-to-cart--active .button:not(.icon).single_add_to_cart_button {
    flex-grow: 1 !important;
    margin-right: 20px !important;
    border: 2px solid #975868 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
}

/* -----------------Cart--------------------------- */

.cart-container .is-sticky-column {
  background-color: #fff !important;
  border-radius: 40px !important;
  padding: 40px !important;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 0 0 1px rgba(0, 0, 0, 0.05) !important;
}

.cart-container .checkout_coupon:not(.form-coupon-visible) {
  display: none !important;
}

.cart-container .cart_totals > table:nth-child(1) {
  margin-bottom: 0 !important;
}

@media (min-width: 550px) {
  .cart-container .checkout_coupon .coupon {
    align-items: center !important;
    display: flex !important;
    flex-flow: row nowrap !important;
    justify-content: space-between !important;
    width: 100% !important;
    margin: 0.5rem !important;
  }

  .cart-container .coupon .wp-element-button {
    min-width: 0 !important;
    margin: 5px !important;
    width: 90% !important;
  }
}

@media (min-width: 1025px) {
  .cart-container .coupon .wp-element-button {
    width: 50% !important;
  }
}

/* -----------------Store-------------------------- */

.shop-page-title .is-medium {
  display: none;
}

.shop-page-title .icon-equalizer:before {
  font-size: 1.4rem !important;
}

.shop-page-title .screen-small {
  display: block !important;
  text-align: center !important;
  margin-top: 1rem !important;
}

.shop-page-title .category-filtering {
  text-align: center !important;
}

.shop-page-title .page-title-inner {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-right: 25px !important;
}

.shop-page-title .flex-grow {
  flex: auto !important;
  margin: 1rem !important;
  width: 30% !important;
}

.shop-page-title .medium-text-center {
  text-align: right !important;
}

.category-page-row {
  padding-top: 10px !important;
}

@media (min-width: 850px) {
  .shop-page-title .is-medium:not(.screen-small) {
    display: flex !important;
  }

  .shop-page-title .screen-small {
    display: None !important;
  }

  .category-page-row {
    padding-top: 30px !important;
  }
}

/* ---------------Shared--------------------------- */

.hc-custom-loader {
  border: 6px solid #f3f3f3 !important;
  border-radius: 50% !important;
  border-top: 6px solid #975868 !important;
  width: 40px !important;
  height: 40px !important;
  -webkit-animation: spin 2s linear infinite !important; /* Safari */
  animation: spin 2s linear infinite !important;
  margin: 0 10px !important;
}

@media (max-width: 550px) {
  .bnav_main_menu_container ul.bnav_main_menu {
    overflow: hidden !important;
  }

  .button {
    font-size: 0.97em !important;
  }

  .button.primary:not(.is-outline) {
    font-size: 0.97em !important;
  }

  .equalize-box:not(.flickity-enabled) .is-small {
    border-radius: 35px !important;
    line-height: 1rem !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .woocommerce-loop-product__link {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
    overflow: hidden !important;
  }

  #footer .bg-fill {
    border-radius: 0 !important;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
